name: Deploy to GitHub Pages

on:
  workflow_run:
    workflows: ["Node.js CI"]
    branches: ["main"]
    types:
      - completed
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write
  
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    needs: []
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' || (github.event.workflow_run.conclusion == 'success')

    steps:
    - name: Setup Pages
      uses: actions/configure-pages@v5

    - name: Download artifacts from build job
      uses: actions/download-artifact@v4
      with:
        name: build-artifact-ubuntu-latest
        path: ./dist

    - name: Upload artifact to Pages
      uses: actions/upload-pages-artifact@v3
      with:
        path: './dist'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4


